#title
{
    width: 98%;
    height: 120px;
    margin-left: 15px;
    border: 0px;
    font-size: 66px;
    color: #228899;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}